.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2D2A55;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
}

img {
    width: 99%;
    height: auto;
    /* max-height: calc(100% - 10px); */
    border-radius: 8px;
    /* border: 2px solid #5d4c86; */
    object-fit: contain;
    /* padding-top: 40px; */
}

.slide {
    width: 100%;
    display: none;
    transition: opacity 1s ease-in-out;
    text-align: center;
}

.slide p {
    color: #EDE9F8;
    font-size: 14px;
    margin-top: 10px;
}

.slide.active {
    display: block;
    opacity: 1;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button.prev:hover, button.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slideshow-controls {
    text-align: center;
    margin-top: 20px;
}

.slideshow-controls label {
    font-size: 1rem; /* Font size same as root element here */
    color: #ede9f8;
    margin-right: 10px;
}

.slideshow-controls input, .slideshow-controls button {
    padding: 5px 10px;
    font-size: 1rem;
    border: 1px solid #5d4c86;
    border-radius: 4px;
    background-color: #2d2a55;
    color: #ede9f8;
    margin: 5px;
    transition: background-color 0.3s ease, color 0.3 ease;
}

.slideshow-controls input:focus, .slideshow-controls button:hover {
    background-color: #5d4c86;
    color: #c3b5f2;
}

.gallery-header p {
    font-size: 1.2rem;
    color: #EDE9F8;
}

.gallery-sections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
    padding: 0 20px;
}

.gallery-section {
    background-color: rgba(45, 42, 85, 0.9);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-section h2 {
    font-size: 1.8rem;
    color: #C3B5F2;
    margin-bottom: 10px;
}

.gallery-section p {
    font-size: 1rem;
    color: #EDE9F8;
    margin-bottom: 15px;
}

.gallery-section:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.gallery-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #EDE9F8;
    background-color: #5D4C86;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.gallery-link:hover {
    background-color: #8979C0;
    color: #FFF;
}